<%- include('partials/header') %>

<h2>Kategori : <%= kategori %></h2>
<div class="row">
  <% data.forEach(item => { %>
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title"><%= item.nama_produk %></h5>
          <p class="card-text">
            Harga: Rp <%= item.harga.toLocaleString('id-ID') %><br>
            Stok: <%= item.jumlah_stok ?? 0 %><br>
          </p>
        </div>
      </div>
    </div>
  <% }) %>
</div>

<%- include('partials/footer') %>
